body {
  font-family: "Montserrat", sans-serif;
  max-width: 540px;
}

ul {
  list-style: none;
}

.citySearch {
  margin-top: 35px;
}

.date {
  margin-top: 35px;
  font-size: 14px;
}

.cityName {
  font-size: 40px;
  color: #0dcaf0;
}

.currentTemp {
  font-size: 80px;
  color: #0dcaf0;
  font-weight: bold;
  margin-left: 320px;
  position: relative;
  top: -190px;
}

.units {
  font-size: 25px;
  font-weight: lighter;

  position: relative;
  top: -225px;
}

.cityWeatherCondition {
  font-size: 18px;
}

.currentWeather {
  font-size: 15px;
  margin-bottom: 70px;
}

.weatherIcon {
  position: relative;
  top: -240px;
}

.weekWeather {
  font-size: medium;
}
.pageBackground {
  background: linear-gradient(
    181.2deg,
    rgb(181, 239, 249) 10.5%,
    rgb(254, 254, 254) 86.8%
  );
}

.forecast-icon {
  width: 140px;
}

.searchButton {
  background-color: #0dcaf0;
  border-radius: 10px;
  width: 155px;
  height: 35px;
  border: 0;
}

.currentCityButton {
  background-color: #0dcaf0;
  border-radius: 10px;
  width: 155px;
  height: 35px;
  border: 0;
  position: relative;
  left: 800px;
  top: -40px;
}

.cityInput {
  border-radius: 10px;
  width: 355px;
  height: 35px;
  border: 0;
}
a:focus {
  text-decoration: none;
  font-weight: border;
  color: #0dcaf0;
}

a {
  color: black;
}

.open-source-code {
  position: relative;
  top: -185px;
  left: 10px;
}

.min-temp {
  opacity: 0.6;
  font-size: 15px;
}

.max-temp {
  font-size: 15px;
}

.card-title {
  font-size: 15px;
}

.conditions-description {
  opacity: 0.6;
  font-size: 12px;

  position: relative;
  left: 60px;
  top: 10px;
}

.weatherForecast {
  position: relative;
  top: -200px;
  left: 10px;
}
